/*================ Slate specific reset ================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

    font-family: LabGrotesque-Regular;
}

h1, h2, h3, h4, p{ 
  text-transform:uppercase;
}

a:focus {
  color: inherit;
}

img {
  max-width: 100%;
}

/*================ Form element helpers ================*/
form {
  margin: 0;
}

// Prevent zoom on touch devices in active inputs
@include media-query($medium-down) {
  input,
  textarea,
  select {
    font-size: 16px;
  }
}

button,
input[type="submit"],
label[for] {
  cursor: pointer;
}

optgroup {
  font-weight: $font-weight-bold;
}

// Force option color (affects IE only)
option {
  color: $color-body-text;
  background-color: $color-body;
}

// hide outline on focus for elements which are given focus by JS
[tabindex='-1']:focus {
  outline: none;
}

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}


.product-quantity input {
  width:100%;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.product-quantity input:focus {
  outline: 0;
}

.quantity input {
       width: 100px;
    min-height: 40px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0px 0px 0 0px;
    text-align: center;
    /* padding-left: 20px; */
    border: 2px solid #000;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
     float: left;
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 10px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
     position: absolute;
    height: 50%;
    top: 0;
    width: 100%;
    margin: 5px 0;
    left: 66px;
    border: 2px solid;
    left: 100%;
    -webkit-transition: all .2s;
    
    transition: all .2s;
}

.quantity-button.quantity-down {
      position: absolute;
    top: 20px;
    left: 100%;
    width: 100%;
    margin: 11px 0px;
    border: 2px solid;
    -webkit-transition: all .2s;
    
    transition: all .2s;
}

.quantity-button.quantity-down:hover, .quantity-button.quantity-up:hover {
  color:white;
  background:black;
  border:1px solid;
}

.quantity {
  position: relative;
  width: 100px;
min-height: 41px;
}
