<div class="static-page">
{% if page.title == 'CONTACT' %}
<img src="https://cdn.shopify.com/s/files/1/2338/1801/files/ELLE0355.jpg?4097806221072643491" alt="">
{% else %}
<img src="https://cdn.shopify.com/s/files/1/2338/1801/files/ELLE0336.jpg?4097806221072643491" alt="">

{% endif %}

<h2> {{ page.title }} </h2>

<div class="container">

  {{ page.content }}
</div>
</div>
