<div class="static-page">
<img src="//cdn.shopify.com/s/files/1/2338/1801/files/ELLE0210.jpg?v=1530828432" alt="">
<h2> {{ page.title }} </h2>

<div class="container">

  {{ page.content }}
</div>
</div>
