<div id="shopify-section-featured-collection" class="shopify-section">
<img src="//cdn.shopify.com/s/files/1/2338/1801/files/ELLE0210.jpg?v=1530828432" alt="">
     
<div class="intro-collection">
    
    <h3>INTERIOR X JESUS ORTIZ </h3>
    <p> INTERIOR IS PROUD TO LAUNCH OUR INAUGURAL COLLECTION WITH A LIMITED COLLABORATION WITH
SPANISH ARTIST JESUS ORTIZ. ORIGINALLY STARTING HIS CREATIVE JOURNEY BY DESIGNING WATCHES AT
THE AGE OF , JESUS WENT ON TO WORK FOR MAJOR ADVERTISING AGENCIES IN SPAIN, DEVELOPING
CREATIVE WORK FOR CORPORATE BRANDS BEFORE BECOMING A BREAKOUT STAR ON INSTAGRAM WITH
HIS PLAYFUL, DELICATE DESIGNS. THE PROFILE THAT JESUS DEVELOPED AS AN INDIVIDUAL ARTIST ON THE
MEDIUM HAS LED TO COLLABORATIONS AND COMMISSIONS WITH MAJOR ART AND FASHION BRANDS
INCLUDING SWATCH WATCHES AND INSPADES. INTERIOR IS PROUD TO PRESENT A LIMITED SELECTION OF XX
DESIGNS BY JESUS ORTIZ IN OUR PREMIERE COLLECTION OF TSHIRTS IN S/S. HIS WHIMSICAL, DELICATE
DESIGNS CELEBRATE WHAT IT MEANS TO BE HUMAN, AND WE’RE OBSESSED. WE THINK YOU WILL BE TOO. </p>

<p> 
VISIT JESUS ORTIZ ON INSTAGRAM @JESUSO_ORTIZ
</p>
    <a href="/collections/interior-x-jesus-ortiz" class="static--cta"> SHOP </a>
    
</div>
<div class="index-photos">


     <img class="photo-1" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--14.jpg?v=1542525517" alt="">
     <img class="photo-2" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--15.jpg?v=1542685990" alt="">
     <img class="photo-3" src="//cdn.shopify.com/s/files/1/2338/1801/files/ELLE0045.jpg?v=1530831111" alt="">
     <img class="photo-4" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--3.jpg?v=1542685919" alt="">
     <img class="photo-5" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--21.jpg?v=1542525602" alt="">
     <img class="photo-6" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--7.jpg?v=1542528663" alt="">
      <img class="photo-7" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--8.jpg?v=1542528698" alt="">
       <img class="photo-8" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--9.jpg?v=1542528722" alt="">
        <img class="photo-9" src="//cdn.shopify.com/s/files/1/2338/1801/files/ELLE0210.jpg?v=1530828432" alt="">
        <img class="photo-10" src="//cdn.shopify.com/s/files/1/2338/1801/files/ELLE0342.jpg?v=1530829600" alt="">
        <img class="photo-11" src="//cdn.shopify.com/s/files/1/2338/1801/files/InteriorParis--20.jpg?v=1542685619" alt="">
    <a href="/collections/resort-2019" class="static--cta"> SHOP </a>




</div>




</div>